In [213]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [214]:
url  = "https://ticker.finology.in/market"
r = requests.get(url)

In [215]:
print(r)

<Response [200]>

In [216]:
soup = BeautifulSoup(r.text,"lxml")

In [217]:
table = soup.find("div",class_ = "card cardscreen cardtab mb-5 mb-md-0")

In [218]:
headers = table.find_all("th")

In [219]:
columns = []
for i in headers[0:3]:
    title = i.text
    columns.append(title)

In [220]:
columns

['Company', 'PriceRs.', 'Day High Rs.']

In [221]:
df = pd.DataFrame(columns = columns)

In [222]:
print(df)

Empty DataFrame
Columns: [Company, PriceRs., Day High Rs.]
Index: []

In [223]:
rows = table.find_all("tr")

In [224]:
for i in rows[1:]:
    data = i.find_all("td")
    row = [i.text for i in data]
    for i in row:
        if len(row) >0 :
            l = len(df)
            df.loc[l] = row

In [232]:
df['Company' ] = df['Company'].str.strip('\n')
df.head()

            Company PriceRs. Day High Rs.
0        GAIL India    151.5       153.15
1        GAIL India    151.5       153.15
2        GAIL India    151.5       153.15
3  Hindustan Copper    226.6          232
4  Hindustan Copper    226.6          232

In [247]:
fade =  soup.find("div" ,class_ = "tab-pane fade")

In [249]:
table = fade.find("table" ,class_ = "table table-sm table-hover screenertable")

In [253]:
headers = table.find_all("th")

In [254]:
columns = []
for i in headers:
    title = i.text
    columns.append(title)

In [255]:
columns

['Company', 'Value Cr.']